
body {
    width: 940px;
    margin: 0 auto;
    background: linear-gradient(#d2e1ee, #cdeff5, #97d7f0, #91cff3);
}


.menu-principal {
    background-color: #d3329df8;
    position: fixed;
    width: 940px;
    border-radius: 10px 10px;
}

.menu-principal ul {
    display: flex;
    margin-left: 100px;
   }

.menu-principal li {
    padding: 15px;
    margin: 10px;
    font-family: initial;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(210, 233, 212);
    border-radius: 20px 15px 20px 15px;
}

.menu-principal li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-principal li:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
    background-color: #93bec5;
}

.inicio {
    background-color: #93bec5;
    border-radius: 20px 20px;
    padding-top: 50px;
    display: flex;

}

.inicio h1 {
    font-size: 60px;
    margin-top: 20px;
}

.inicio h3 {
    font-size: 1.5em;
    margin-bottom: 25px;
    font-style: italic;
}

.inicio p {
    font-size: 1em;
    margin-bottom: 15px;
}

.inicio p img {
    width: 20px;
    left: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 30px;
}

.rede-social {
    width: 30px;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
}

.foto-perfil {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 220px;
    border: 6px solid #c20683f8;
    box-shadow: 15px 10px 15px rgb(44, 41, 41);
    width: 350px;
    left: 200px;
    height: 350px;
}

.dados {
    margin-left: 30px;
    margin-top: 100px;
    color: rgb(49, 45, 47);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-mim {
    background: rgb(255, 229, 229);
    padding: 20px 0;
    color: rgb(212, 9, 94);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.meu-texto {
    display: inline-block;
    width: 480px;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 48px;
    font-size: 20px;
    font-family: initial;
    margin-top: 500px;
    margin-bottom: 20px;
}


.titulo {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 28px;
    font-size: 40px;
    text-align: center;
    padding-left: 20px;
}

.sobre-mim-foto img {
    width: 400px;
    display: inline-block;
    border-radius: 80px;
    padding: 30px;
}

#sobre-mim p {
    background-color: rgb(151, 222, 231);
    box-shadow: 1px 1px 16px rgba(136, 4, 92, 0.5);
    color: rgb(8, 10, 1);
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 70%;
    box-sizing: border-box;
    vertical-align: top;
    height: 200px;
    font-size: 25px;
    margin: 5%;
}


#experiencia p, #educacao p, #habilidades p {
    background-color: rgb(143, 219, 229);
    box-shadow: 1px 1px 16px rgba(116, 4, 78, 0.5);
    color: rgb(8, 8, 8);
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 45%;
    box-sizing: border-box;
    vertical-align: top;
    height: 100px;
    font-size: 20px;
    margin: 2.3%;
}


#interesses img {
    width: 100px;
    padding-left: 50px;
}

.titulo p, a  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.final {
    background: #719494;
    text-align: center;
}

.final h1 {
    padding: 30px;
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.final a {
    text-decoration: none;
}

.final img {
    width: 25px;
}

.ultimo {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.ultimo p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}























/**
.icone-menu {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    transition: 0.3s opacity;
}

.menu-mobile {
        width: 250px;
        height: 400px;
        background-image: linear-gradient(90deg, rgb(10, 171, 199), rgb(15, 179, 230));
        position: fixed;
        top: 8px;
        right: 0;
        border-radius: 10px 0 0 10px;
        z-index: 1;
}

.nav-mobile ul {
    position: absolute;
    top: 100px;
    left: 48px;
}

.nav-mobile li {
    margin-bottom: 20px;
}

.nav-mobile a {
    text-decoration: none;
    transition: 0.3s color;
    margin-left: 8px;
}

.icone-sair {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    transition: 0.3s opacity;
}

.nav-mobile {
    position: relative;
}

@media screen and (max-width: 1040px)
header {
    display: none;
}
